<%= simple_form_for(business) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name, label: "Nombre del negocio" %>
  <%= f.input :description, as: :text, label: "Descripción", input_html: { rows: 3 } %>
  <%= f.input :currency, label: "Moneda", hint: "Ej: COP, USD" %>
  <%= f.association :owner, collection: User.order(:name, :email),
      label_method: ->(u) { u.name.presence || u.email },
      value_method: :id,
      prompt: "Selecciona un propietario",
      label: "Propietario" %>

  <div class="mt-3">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Cancelar", businesses_path, class: "btn btn-outline-secondary ms-2" %>
  </div>
<% end %>
