<div id="<%= dom_id purchase_order_item %>">
  <div>
    <strong>Purchase order:</strong>
    <%= purchase_order_item.purchase_order_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= purchase_order_item.product_id %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= purchase_order_item.quantity %>
  </div>

  <div>
    <strong>Unit price:</strong>
    <%= purchase_order_item.unit_price %>
  </div>

  <div>
    <strong>Subtotal:</strong>
    <%= purchase_order_item.subtotal %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= purchase_order_item.notes %>
  </div>

</div>
