<div id="<%= dom_id inventory %>">
  <div>
    <strong>Business:</strong>
    <%= inventory.business_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= inventory.product_id %>
  </div>

  <div>
    <strong>Current quantity:</strong>
    <%= inventory.current_quantity %>
  </div>

  <div>
    <strong>Minimum alert quantity:</strong>
    <%= inventory.minimum_alert_quantity %>
  </div>

  <div>
    <strong>Last updated at:</strong>
    <%= inventory.last_updated_at %>
  </div>

</div>
