<div id="<%= dom_id purchase_order %>">
  <div>
    <strong>Business:</strong>
    <%= purchase_order.business_id %>
  </div>

  <div>
    <strong>Reference number:</strong>
    <%= purchase_order.reference_number %>
  </div>

  <div>
    <strong>Created by:</strong>
    <%= purchase_order.created_by_id %>
  </div>

  <div>
    <strong>Supplier name:</strong>
    <%= purchase_order.supplier_name %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= purchase_order.status %>
  </div>

  <div>
    <strong>Received at:</strong>
    <%= purchase_order.received_at %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= purchase_order.notes %>
  </div>

</div>
