<div id="<%= dom_id product_price %>">
  <div>
    <strong>Product:</strong>
    <%= product_price.product_id %>
  </div>

  <div>
    <strong>Unit price:</strong>
    <%= product_price.unit_price %>
  </div>

  <div>
    <strong>Price type:</strong>
    <%= product_price.price_type %>
  </div>

  <div>
    <strong>Start at:</strong>
    <%= product_price.start_at %>
  </div>

  <div>
    <strong>End at:</strong>
    <%= product_price.end_at %>
  </div>

  <div>
    <strong>Note:</strong>
    <%= product_price.note %>
  </div>

</div>
