<div id="<%= dom_id sales_order_item %>">
  <div>
    <strong>Sales order:</strong>
    <%= sales_order_item.sales_order_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= sales_order_item.product_id %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= sales_order_item.quantity %>
  </div>

  <div>
    <strong>Unit price:</strong>
    <%= sales_order_item.unit_price %>
  </div>

  <div>
    <strong>Discount:</strong>
    <%= sales_order_item.discount %>
  </div>

  <div>
    <strong>Subtotal:</strong>
    <%= sales_order_item.subtotal %>
  </div>

</div>
