<div id="<%= dom_id payment %>">
  <div>
    <strong>Sales order:</strong>
    <%= payment.sales_order_id %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </div>

  <div>
    <strong>Paid at:</strong>
    <%= payment.paid_at %>
  </div>

  <div>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </div>

  <div>
    <strong>Payment type:</strong>
    <%= payment.payment_type %>
  </div>

  <div>
    <strong>Payment status:</strong>
    <%= payment.payment_status %>
  </div>

  <div>
    <strong>Recorded by:</strong>
    <%= payment.recorded_by_id %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= payment.notes %>
  </div>

</div>
