<div id="<%= dom_id inventory_movement %>">
  <div>
    <strong>Inventory:</strong>
    <%= inventory_movement.inventory_id %>
  </div>

  <div>
    <strong>Previous quantity:</strong>
    <%= inventory_movement.previous_quantity %>
  </div>

  <div>
    <strong>New quantity:</strong>
    <%= inventory_movement.new_quantity %>
  </div>

  <div>
    <strong>Movement type:</strong>
    <%= inventory_movement.movement_type %>
  </div>

  <div>
    <strong>Reference type:</strong>
    <%= inventory_movement.reference_type %>
  </div>

  <div>
    <strong>Reference:</strong>
    <%= inventory_movement.reference_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= inventory_movement.user_id %>
  </div>

  <div>
    <strong>Moved at:</strong>
    <%= inventory_movement.moved_at %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= inventory_movement.notes %>
  </div>

</div>
