<div id="<%= dom_id sales_order %>">
  <div>
    <strong>Business:</strong>
    <%= sales_order.business_id %>
  </div>

  <div>
    <strong>Reference number:</strong>
    <%= sales_order.reference_number %>
  </div>

  <div>
    <strong>Created by:</strong>
    <%= sales_order.created_by_id %>
  </div>

  <div>
    <strong>Customer name:</strong>
    <%= sales_order.customer_name %>
  </div>

  <div>
    <strong>Customer identifier:</strong>
    <%= sales_order.customer_identifier %>
  </div>

  <div>
    <strong>Payment condition:</strong>
    <%= sales_order.payment_condition %>
  </div>

  <div>
    <strong>Payment status:</strong>
    <%= sales_order.payment_status %>
  </div>

  <div>
    <strong>Payment due at:</strong>
    <%= sales_order.payment_due_at %>
  </div>

  <div>
    <strong>Total:</strong>
    <%= sales_order.total %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= sales_order.notes %>
  </div>

</div>
