<div id="<%= dom_id role_assignment %>">
  <div>
    <strong>User:</strong>
    <%= role_assignment.user_id %>
  </div>

  <div>
    <strong>Business:</strong>
    <%= role_assignment.business_id %>
  </div>

  <div>
    <strong>Role:</strong>
    <%= role_assignment.role %>
  </div>

  <div>
    <strong>Assigned modules:</strong>
    <%= role_assignment.assigned_modules %>
  </div>

  <div>
    <strong>Restrictions:</strong>
    <%= role_assignment.restrictions %>
  </div>

  <div>
    <strong>Assigned at:</strong>
    <%= role_assignment.assigned_at %>
  </div>

  <div>
    <strong>Ended at:</strong>
    <%= role_assignment.ended_at %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= role_assignment.status %>
  </div>

</div>
